.album {
      &__thumbnail {
            &>img {
                  border-radius: 0.5rem;
                  width: 250px;
            }
      }

      &__name {
            font-weight: bold;
      }
}